fastapi==0.110.0
joblib==1.4.2
# loguru==0.7.2
metaflow==2.15.9 # This needs not to be strict since it is only used in the training script
# prometheus-fastapi-instrumentator==6.1.0
requests==2.32.0
scikit-learn==1.4.2
uvicorn[standard]==0.29.0
